__pycache__/
*.out
looper.exe
*.root
*.hdf5
*.pkl
*.xgb
*.npz
output/
.ipynb_checkpoints/

sync_*.txt
*~
#vim files
*.swp
TauAnalysis/ClassicSVfit/obj/
TauAnalysis/ClassicSVfit/dep/
TauAnalysis/ClassicSVfit/lib/
TauAnalysis/ClassicSVfit/exec/
*.pdf
*.png
plots/
